<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Pound/Euro Graph">
        <meta name="keywords" content="Pound Euro Tracker">
        <meta name="author" content="Patilla Code">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>£/€ Rate</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/charts.min.js') }}"></script>
    </head>
    <body class="black-bg">
    <section id="rate-graph">
        <canvas id="canvas"></canvas>
    </section>
    <section>
        <button id="reload-button" type="button" class="btn btn-warning btn-block" role="button">Reload</button>
    </section>
    <div id="overlay">
        <img id="loading" src="{{ url_for('static', filename='img/loading.gif') }}">
        <p id="loading-message" class="text-center"><small><em>Gathering data... Please wait</em></small></p>
    </div>
    </body>
    <script type="text/javascript">
        data = {{data|tojson}};
        dates = data.dates;
        values = data.values;
        from_currency = data.currency_base;
        to_currency = data.currency_symbol;
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>